.seccion__actualidad{
    display: flex;
    flex-direction: row;
    height:85rem;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    h1{
        display: inline;
        font-size: 4rem;
    }
    iframe{
        display: flex;
        width: 600px;
        height: 355px;
        width: 600px;
        height: 355px;
        max-width: 100%;
    }
    p{
        font-size: 20px;
    }
}
.texto__actualidad{
    display: flex;
    flex-direction: column;
    width: 500px;
}