.imagen__index {
    height: 100rem;
    max-width: 100% ;    
    padding: 3rem;  
}
.section__index{
    display: flex;
    justify-content: center ;
    align-items:normal;
    flex-wrap: wrap;
    h1 {
        display: inline;
        font-size: 5rem; 
        font-weight: 600;
    }
    p {
        font-size: 20px;
    }
}
.texto__index{
    display: flex;
    flex-direction: column;
    width: 400px;    
}