.seccion__formulario{
    display: flex;
    height: 90rem;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    p{
        width: 800px;
    }
}





